body{
  background-image: url("src/images/deepfieldview.jpeg");
  color: lightgrey;
  font-family: 'Barrio';
  margin: 0;
}

nav{
  position: absolute;
  display: flex;
  height: 3.5em;
  background-color: rgba(51, 51, 51, 1);
  top: 0px;
  width: 100%;
}

#nav-title{
  width: 100%;
  font-size: 2.5em;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  height: 100%;
}

.subcontainer{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.9);
  border: 5px solid darkgray;
  padding-top: 10px;
  padding-bottom: 20px;
}

.subcontainer-header{
  font-size: 1em;
  text-align: center;
  align-items: center;
  align-content: center;
  
}

.subcontainer-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.player-outcomes{
  font-size: 1em;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;

}

@media (max-width: 480px) {
  .game-img{
    max-width: 90%;
    max-height: 10em;
  }
}

@media (min-width: 481px) {
  .game-img{
    max-width: 90%;
    max-height: 30em;
  }
}

button{
  font-size: 1.5rem;
  margin-top: 2em;
  background-color:lightgrey;
  width: 10rem;
  height: 2rem;
  font-family: 'Barrio';
}

input[type="number"] {
  font-family: 'Barrio';
  width: 3em;
  height: 1.5em;
  font-size: 1.2em;
}

.question-text{
  background-color: green;
  border: 10px solid blue;
  color: lightgray;
}

.question-div{
  width: 100%;
}

.options-div{
  color: lightgrey;
}

.active-player{
  font-size: 2em;
  color: darkgray;
}

.submit-container{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.answer-text{
  width: 90%;
}

#answer-blurb{
  font-family: 'Fjalla One', sans-serif;
  width: 90%;
  font-size: 1em;
}

#score-breakdown{
  display: flex;
  justify-content: space-between;
}

.radio-div{
  font-size: 1.2em;
  padding: 5px;
}

input[type="radio"] {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Chrome, Safari, Opera */
  transform: scale(2);
}

#instructions{
  padding-top: 10px;
  font-family: 'Fjalla One', sans-serif;
}

#menu{
  display: flex;
  height: 100%;
  align-content: center;
}

#nav-title{
  width: 100%;
  position: absolute;
  align-content: center;
  justify-self: center;
}

footer{
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 4em;
  background: rgba(51, 51, 51, 1);
  color: white;
  font-size: 1em;
  margin-top: 1em;

}

.footer-link, a{
  color: white;
}